.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.alert {
  color: red;
}

.all-scores {
  margin: auto;
  width: 100%;
  max-width: 300px;
  text-align: center;
}

.all-scores table {
  width: 100%;
  margin-bottom: 30px;
}

.all-scores table td {
  border-bottom: 1px solid #333;
  padding: 5px;
}

.game-score {
  margin-top: 10px;
  margin-bottom: 15px;
}

.game-grid {
  margin: auto;
}

.game-grid__cell {
  width: 50px;
  height: 50px;
  margin: 2px;
  display: inline-block;
  border: 1px solid #ddd;
  background-color: #fff;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
}

.game-footer {
  margin-top: 15px;
}

input {
  margin-bottom: 10px;
  font-size: 15px;
  padding: 7px 12px;
}

button {
  padding: 5px 8px;
}

button,
a.btn {
  display: inline-block;
  margin: 0 5px;
  border: 1px solid #333;
  border-radius: 3px;
  background-color: #fff;
  padding: 8px 14px;
  font-size: 14px;
  color: #333;
  text-decoration: none;
}

button.inverse,
a.btn.inverse {
  background-color: #333;
  color: #fff;
}
